<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<% if @user %>
<%= image_tag @user['picture']['data']['url'].to_s %>
<h1 class="page-header">Spotify Demo</h1>
<%= form_tag api_artists_path, method: "get" do %>
 <div class="form-group col-xs-4">
   <%= text_field_tag(:artist_name, "", placeholder: "Enter artist name", class: "form-control") %>
 </div>
 <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<% end %>

